<!-- Page Content -->
<div id="page-content-wrapper" ng-controller="DeviceDetailsCtrl">

    <!-- <div class="form-group">
        <!-- BIND THIS VALUE TO formData.text IN ANGULAR --
        <input type="number" min="1" max="100" step="1" class="form-control input-lg text-center" ng-model="handle.number" />
        <button type="submit" class="btn btn-primary btn-lg" ng-click="create()">Create</button>
    </div>-->
    <div id="toolbar">
        <div class="clearfix"></div>
    </div>

    <div>
        <h2>Name</h2>
        <p>Creation Date : {{details.creationDate | date:'fullDate'}}</p>
        <p>installed version or RED: {{details.installedversionRED}}</p>
        <p ng-repeat="soft in details.softwarelist">
            <div>{{soft}}</div>
        </p>
        <p>{{details.users}}</p>
        <p>{{details.permissions}}</p>
        
    </div>

</div>
<!-- /#page-content-wrapper -->