<!-- Page Content -->
<div id="page-content-wrapper">

    <div id="smallspace"></div>
    <div id="youriotpartner">
        <img id="cloudlogo" src="/img/cloudlogo.jpg" alt="Cloud Logo">
        <p>your iot partner</p>
        <h2>simply and safely</h2>
    </div>
    <div id="securityrecordingdata">
        
        <div id="descriptioncontainer">
            <div id="security">
            <img src="/img/security.jpg" alt="Security Recording Data">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nylla eu elit effitur, consequat tortor quis, lobortis quam. Duis congue rutrum eros, id facilitis tortor facilis non.</p>
            </div>
            <div id="recording">
            <img src="/img/recording.jpg" alt="Security Recording Data">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nylla eu elit effitur, consequat tortor quis, lobortis quam. Duis congue rutrum eros, id facilitis tortor facilis non.</p>
            </div>
            <div id="datavis">
            <img  src="/img/data.jpg" alt="Security Recording Data">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nylla eu elit effitur, consequat tortor quis, lobortis quam. Duis congue rutrum eros, id facilitis tortor facilis non.</p>
            </div>
        </div>
    </div>
    <div id="theteam">
        <p>Team</p>
        <div id="membercontainer">
            <div id="member1">
            </div>
            <div id="member2">
            </div>
            <div id="member3">
            </div>

            <div id="memberdesc1">
                <h6>nom prenom</h6>
                <p>Presentation</p>
                <p>sur</p>
                <p>3 lignes</p>
            </div>
            <div id="memberdesc2">
                <h6>nom prenom</h6>
                <p>Presentation</p>
                <p>sur</p>
                <p>3 lignes</p>
            </div>
            <div id="memberdesc3">
                <h6>nom prenom</h6>
                <p>Presentation</p>
                <p>sur</p>
                <p>3 lignes</p>
            </div>

            <div id="member4">
            </div>
            <div id="member5">
            </div>
            <div id="member6">
            </div>

            <div id="memberdesc4">
                <h6>nom prenom</h6>
                <p class="memberinfo">Presentation</p>
                <p class="memberinfo">sur</p>
                <p class="memberinfo">3 lignes</p>
            </div>
            <div id="memberdesc5">
                <h6>nom prenom</h6>
                <p class="memberinfo">Presentation</p>
                <p class="memberinfo">sur</p>
                <p class="memberinfo">3 lignes</p>
            </div>
            <div id="memberdesc6">
                <h6>nom prenom</h6>
                <p class="memberinfo">Presentation</p>
                <p class="memberinfo">sur</p>
                <p class="memberinfo">3 lignes</p>
            </div>
        </div>
    </div>
    <div id="smallspace"></div>





</div>
<!-- /#page-content-wrapper --> 