<div id="sidebar-wrapper">
    <a id="logo" href="/"><img class="img-responsive" src="img/LOGO.png" alt="LOGO red" /></a>
    <form id="searchform" action="/search" method="GET">
      <input type="text" name="s" placeholder="Search">
    </form>
    <ul id="sidebar-nav">
        <li><a href="#/home">Home</a></li>
        <li><a href="#/device">Models</a></li>
        <li><a href="#/software">Softwares</a></li>
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Data</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->