<div id="sidebar-wrapper">
    <a id="logo" href="/"><img class="img-responsive" src="img/LOGO.png" alt="LOGO red" /></a>
    <form id="searchform" action="/search" method="GET">
      <input type="text" name="s" placeholder="Search">
    </form>
    <ul id="sidebar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricings</a></li>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Github</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->