<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html lang="en" ng-app="deviceApp" ng-controller="deviceListCtrl">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->

    <title ng-repeat="data in deviceData">RED : {{data._id}}</title>

    <!-- load bootstrap & css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/sidebar.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- load angular -->
    <script src="javascript/core.js"></script>
    <!-- load angular || get data of the object -->
    <script src="javascript/controller.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL DEVICES -->

<body >
<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                HOME
            </a>
        </div>
    </div>
</nav>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li><a href="devices.html">Users / Devices</a></li>
            <li><a href="notification.html">Notifications</a></li>
            <li><a href="softwares.html">Softwares</a></li>
            <li><a href="data.html">Data Management</a></li>
            <li><a href="favorites.html">Favorites</a></li>
        </ul>
    </div>

    <div id="content-wrapper">
        <div class="container">
            <!-- HEADER AND DEVICES COUNT -->
            <div class="jumbotron text-center">
                <h1>RED API | devices : <span class="label label-info">{{ devices.length }}</span></h1>
            </div>

            <!-- TAB USER / DEVICE-->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Device Data</a></li>
            </ul>

            <div class="tab-content" >
                <div role="tabpanel" class="tab-pane active" id="users" >
                    <!-- LOOP OVER THE users IN $scope.users -->
                        <label>
                            <div ng-repeat="data in deviceData">
                                <label>
                                    <!-- Beautifuler for json -->
                                    <pre>
                                         {{data | json}}
                                    </pre>
                                </label>
                            </div>
                        </label>
                </div>

            </div>
        </div>
    </div>
</div>

</body>

</html>
